body {

    background: url("./Negro\ Sencillo\ Espacio\ Exterior\ Foto\ Neil\ Armstrong\ Frase\ Inspiración\ Genial\ Fondo\ de\ Pantalla.png") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

#board {
    width: 450px;
    height: 450px;
background-image: radial-gradient(circle, #162545, #152340, #14213c, #131f37, #121d33);
    border: 5px solid #122d63;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 50px;
    height: 50px;
}

button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #122d63;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ;

}

button:hover {
    background-color: #0f2658;
}

